<template>
  <v-row>
    <v-col cols="12">Сторонние сервисы</v-col
    ><v-col cols="12"
      ><v-btn disabled block
        ><v-icon left dark> mdi-github </v-icon> Github
      </v-btn></v-col
    ><v-col cols="12"
      ><v-btn disabled block
        ><v-icon left dark> mdi-google </v-icon> Google
      </v-btn></v-col
    ><v-col cols="12"
      ><v-btn disabled block
        ><v-icon left dark> mdi-facebook </v-icon> Facebook
      </v-btn></v-col
    ></v-row
  >
</template>

<script>
export default {
  props: ["label", "title"],
  data: () => ({}),
};
</script>
