<template>
  <v-form ref="form" v-model="valid">
    <v-row class="ma-6"
      ><v-col cols="12"
        ><v-text-field
          v-model="value.email"
          :rules="[rules.required, rules.min, rules.emailMatch]"
          type="email"
          name="input-11-1"
          label="Enter e-mail"
          hint="At least 8 characters"
          counter
          outlined
        ></v-text-field></v-col
      ><v-col cols="12">
        <v-text-field
          v-model="value.password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          label="Enter password"
          hint="At least 8 characters"
          counter
          @click:append="show1 = !show1"
          outlined
        ></v-text-field></v-col
      ><v-col cols="12">
        <v-btn color="blue darken-1" dark @click="$emit('login')">
          Login
        </v-btn>
      </v-col></v-row
    >
  </v-form>
</template>

<script>
export default {
  props: ["label", "title", "value"],
  data: () => ({
    valid: null,
    show1: false,
    show2: true,
    show3: false,
    show4: false,

    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => v.length >= 8 || "Min 8 characters",
      emailMatch: (v) => v.indexOf("@") > 0 || `Enter valid e-mail`,
    },
  }),
};
</script>
