<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="960px"
    transition="dialog-top-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <div v-if="$store.state.user">
        <v-btn text dark href="/profile">
          <v-icon size="24" color="pink" class="pr-3">mdi-account</v-icon>
          <span color="text--pink lighten-3">{{
            $store.state.user ? $store.state.user.name : "User"
          }}</span>
        </v-btn>
      </div>
      <div v-else>
        <v-btn text dark v-bind="attrs" v-on="on">
          <v-icon size="24" color="pink" class="pr-3">mdi-account</v-icon>
          <span color="text--pink lighten-3">Authorization</span>
        </v-btn>
      </div></template
    ><v-card class="rounded-xl">
      <v-card-title class="orange">
        <v-container
          ><v-row align-content="center" justify="center"
            ><v-col cols="6"
              ><span class="headline">{{
                title || "Authentication"
              }}</span></v-col
            ><v-col cols="6" class="d-flex justify-end"
              ><v-btn icon @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn></v-col
            ></v-row
          ></v-container
        >
      </v-card-title>
      <v-card-text v-if="!$auth.user" class="white">
        <v-tabs v-model="tab" grow>
          <v-tab> Login </v-tab>
          <v-tab> Register </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-container
              ><v-row align-content="center" justify="center"
                ><v-col cols="6">
                  <AuthLogin
                    v-model="user"
                    @dialog="dialog = false"
                    @login="userLogin"
                /></v-col>
                <v-col cols="6"><AuthSocial /></v-col></v-row
            ></v-container>
          </v-tab-item>
          <v-tab-item
            ><AuthRegister v-model="user" @register="register" />
          </v-tab-item>
        </v-tabs-items>
        <v-alert v-model="message.status" dismissible :type="message.type">{{
          message.text
        }}</v-alert>
      </v-card-text>

      <v-card-text v-if="$auth.user" class="white text-h6">
        You are loged in as {{ $auth.user.data.name }}
      </v-card-text>
      <v-card-actions v-if="$auth.user">
        <v-btn color="blue darken-1" dark @click="$auth.logout()">
          Logout
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["label", "title", "onLogin"],
  data: () => ({
    message: {
      status: false,
      type: "error",
      text: null,
    },
    error: null,
    alert: false,
    user: {
      name: "",
      email: "",
      password: "",
      password2: "",
    },
    tab: 0,
    dialog: false,
  }),
  methods: {
    clearData() {
      this.user = {
        name: "",
        password: "",
        password2: "",
        email: "",
      };
    },
    setMessage(status = false, type = null, text = "") {
      this.message = {
        status,
        type,
        text,
      };
    },
    async register() {
      try {
        this.setMessage();
        const resp = await this.$axios.post("auth/register", {
          ...this.user,
          password2: undefined,
        });
        if (resp.data == false) {
          this.setMessage(true, "error", "User already registered");
        } else if (resp.data == true) {
          this.tab = 0;
          this.setMessage(true, "success", "Check e-mail for confirmation");
        }
        /*
this.$auth.loginWith("local", { data: userInfo });
        this.setSnack(`Hello, ${userInfo.Email}!`);
        this.$router.push("/");
        */
      } catch (error) {
        console.log(error);
      }
    },
    async userLogin() {
      try {
        this.setMessage();
        let resp = await this.$auth.loginWith("local", {
          data: { email: this.user.email, password: this.user.password },
        });
        if (!resp.data) {
          this.setMessage(true, "error", "Wrong e-mail or password");
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
